@charset "utf-8";

    /* 공통부분 */
    * { margin: 0; padding: 0; }
    body, html { width: 100%; min-width: 1280px; }
    li { list-style: none; }
    a { text-decoration: none; }
    
    #wrap{
			width:530px;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
		}
		table{
			margin-left:auto;
			margin-right:auto;
			border:3px solid skyblue
		}
		td{
			border:1px solid skyblue
			}
		#title{
			background-color:skyblue
		}