 @charset "utf-8";
 
 *  {margin: 0; padding: 0;}
        body, html {width: 100%; min-width: 1280px; font-family: 'Noto Sans KR', sans-serif;}
        a {text-decoration: none;}
        ul { list-style: none;}

		#wrap{clear: both; width:1280px; height:600px; margin:0 auto; text-align:center;}
		table{margin-left:auto; margin-right:auto; border:3px solid skyblue}
		td{border:1px solid skyblue}
		#title{background-color:skyblue}
		#bottom{display: inline-block; width:200px; height:30px;background-color:skyblue;
			font-size:20px;}
		#bottom a{color:#666666; font-weight: 550;}
		#bottom a:hover{color: #dcb;}