 @charset "utf-8";
 
 	*  {margin: 0; padding: 0;}
        body, html {width: 100%; min-width: 1280px; font-family: 'Noto Sans KR', sans-serif;}
        a {text-decoration: none;}
        ul { list-style: none;}


		.contents{clear: both; height: 1280px; height: 700px; margin: 0 auto; text-align: center;}
        .contents h2 {display: block; border-bottom: 1px solid black; width: 80px; height: 50px; text-align: center; margin: 0 auto; padding-top: 100px; margin-bottom: 20px;}
        #wrap{width:530px; margin-left:auto; margin-right:auto; text-align:center;}
		table{margin-left:auto; margin-right:auto; border:3px solid skyblue}
		td{border:1px solid skyblue}
		#title{background-color:skyblue}
        